.stepperInput {
  display: flex;
  display: -webkit-flex;
  color: #666;
  max-width: 120px;
  margin: 0 auto;
}
.stepperInput .increment,
.stepperInput .decrement {
  height: 24px;
  width: 24px;
  padding: 0;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  background: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.stepperInput .increment:hover,
.stepperInput .decrement:hover {
  color: #077915;
  border-color: #077915;
}
.stepperInput .increment:active,
.stepperInput .decrement:active {
  color: #fff;
  border-color: #077915;
  background: #0bc122;
}
.stepperInput .increment {
  line-height: 18px;
}
.stepperInput .decrement {
  line-height: 20px;
}
.stepperInput .quantity {
  height: 24px;
  width: 48px;
  text-align: center;
  margin: 0 12px;
  border-radius: 2px;
  border: 1px solid #ccc;
}
.stepperInput .quantity:focus {
  outline: none;
  border-color: #077915;
}
