.wish_list {
  font-size: 0.9rem;
}

.wish_list_box {
  position: relative;
  display: flex;
}
.wish_list_head {
  justify-content: flex-end;
  font-size: 22px;
  font-weight: 700;
}
.wish_list_name {
  position: absolute;
  top: -26px;
  transform: rotate(-14deg);
  left: -52px;
  padding: 0 2.5em;
}
