.navbar_item {
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  line-height: 1.5;
  padding: 0.75rem;
  text-decoration: none;
}

.active_navitem {
  border-bottom: 3px solid #61dbfb;
  color: #61dbfb;
}
